@model AM.ApplicationCore.Domain.Flight

<div>
       <dl class="row">
        <dt>type Avion</dt>
        <dl> @Model.Plane.PlaneType</dl>
        <dt>Capacity Avion</dt>
        <dl> @Model.Plane.Capacity</dl>
    </dl>
</div>

